.Rproj.user
.Rhistory
.RData
.Ruserdata
~$nalreport.docx
~WRL0171.tmp
Presentation_Outline.md
Research_Report_Outline.md
Rubric_Checklist.md
projectinfo.txt
slidespeech.md
workData/extract_q4_results.R
